/* Set padding for all HTML elements */
html {
  padding: 0.7rem;
}

/* Define a custom font named "pixel" */
@font-face {
  font-family: "pixel";
  src: url(assets/pixel.ttf);
  font-display: swap;
}

/* Define another custom font named "sabo" */
@font-face {
  font-family: "sabo";
  src: url(assets/Sabo-Filled.otf) format("opentype");
  font-display: swap;
}

/* Define root level variables for colors */
:root {
  --background: #0c0c0e;
  --text: #ff79c5e3;
  --subtext: #bd93f9bd;
}

/* Apply background image and color to the body */
body {
  background-image: url(assets/nnnoise.svg);
  background-color: var(--background);
}

/* Style for section with class "sec1" */
.sec1 {
  background-repeat: no-repeat;
  background-position: center;
  z-index: -4;
  background-image: url(assets/svg-shape-1.svg);
  background-image: cross-fade(9px);
}

/* Blur effect */
.blur {
  overflow: hidden;
  border: 1px solid rgba(128, 47, 0, 0);
  padding: 1px;
  margin: 1px;
  min-height: 97.9vh;
  filter: blur(30);
  position: relative;
  animation: breathing 2.4s;
  opacity: 1;
  color: #ff79c5ad;
}

/* Keyframes for the breathing animation */
@keyframes breathing {
  0% {
    filter: blur(10);
    backdrop-filter: blur(1px);
    opacity: 0;
  }

  40% {
    filter: blur(20px);
    backdrop-filter: blur(0.9px);
    opacity: 0;
  }

  50% {
    filter: blur(27px);
    backdrop-filter: blur(0.5px);
    opacity: 0.5;
  }

  100% {
    filter: blur(0);
    backdrop-filter: blur(0.3px);
    opacity: 0.9;
  }
}

/* Style for title element */
.title {
  color: var(--subtext);
  font-size: 6.69rem;
  font-family: "pixel", cursive;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

/* Style for sub-title element */
.sub-title {
  color: var(--text);
  font-size: 2.9rem;
  font-family: "pixel", cursive;
  position: absolute;
  top: 51%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

/* Style for description element */
.description {
  font-size: 1.4rem;
  font-family: "sabo", cursive;
  position: absolute;
  top: 58%;
  left: 49%;
  z-index: 2;
  transform: translate(-50%, -50%);
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 1362px) {
  .title {
    font-size: 6rem;
  }

  .sub-title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.3rem;
  }
}

/* Additional responsive styles for even smaller screens */
@media screen and (max-width: 1172px) {
  .title {
    font-size: 5.7rem;
  }

  .sub-title {
    font-size: 2.1rem;
  }

  .description {
    font-size: 1.2rem;
  }
}
